<!--
  Generated template for the MyCarsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="toolbar-my-cars" class="menu">
		<img class="img" src="../assets/imgs/logo_trackerbr.png">
		<ion-buttons end>
			<button ion-button icon-only *ngIf="showSelect == false" (click)="showSelectMyCars()">
				<ion-icon name="funnel"></ion-icon>
			</button>
			<button ion-button icon-only *ngIf="showSelect == true" (click)="goToMapPage(veiculos)">
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list class="type" no-lines>
		<ion-item class="item-type">
			<h2>CARROS</h2>
		</ion-item>
	</ion-list>

	<ion-list class="card" no-lines>
		<ion-item [style.background-color]="item.lig == 1 ? '#2ebb46' : '#b93939'" *ngFor="let item of veiculos">
			<ion-checkbox *ngIf="showSelect" [(ngModel)]="item.selected"></ion-checkbox>
			<ion-thumbnail item-start>
				<ion-icon class="icon-xl size-1" name="car"></ion-icon><strong> {{ item.placa}}</strong>
				<br>
				<ion-icon class="icon-xl" name="locate"></ion-icon><small> Rua João Dias da Silva, 182 <br> Casa Verde, São Paulo - SP</small>
				<ion-icon class="icon-xl" name="speedometer"></ion-icon><small> {{ item.velocidade }}km/h</small>
				<br>
				<ion-icon class="icon-xl" name="timer"></ion-icon><small> {{ item.dataServidor.date }}</small>
				<ion-icon class="icon-xl" name="walk"></ion-icon><small> 13.865 km</small>
			</ion-thumbnail>
		</ion-item>
	</ion-list>

	<!-- <ion-list class="type" no-lines>
		<ion-item class="item-type">
			<h2>ÔNIBUS</h2>
		</ion-item>
	</ion-list>-->
</ion-content>
