page-login {
	ion-content {
		background: #2b2f40 !important;

		img {
			margin: 0 auto;
			width: 50%;
		}

		ion-item{
			color: #fff !important;
			background: #2b2f40 !important;	
		}

		ion-title{
			color: #fff !important;
			text-align: center;
		}
	}

}
