page-my-cars-details {
	ion-content {
		-webkit-box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
		   -moz-box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
		        box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
	}
	.menu {
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: center;	
		.img {
			width: 50%;
		}
	}

	#map{
		width: 100%;
		height: 100%;
	}

	ion-thumbnail {
		background: #2b2f40;
		text-align: center;
		color: #fff;
	}

	.thumbnail-center {
		border-color: #fff;
		border-left: 1px;
		border-right: 1px;
	}

	.icon-xl {
		margin: 0 auto;	
		font-size: 50px;
	}
}