page-config {
	ion-content {
		background: #2b2f40 !important;
	}

	.menu {
		padding-top: 35px;
		padding-bottom: 35px;
		text-align: center;	
		.img {
			width: 50%;
		}
	}

	ion-content {
		color: #fff !important;
		text-align: center;
	}

	ion-thumbnail {
		min-width: 100px;
		text-align: center;

		.icon-xl {

			font-size: 80px;
		}
	}

	.shadow-top {
		padding-top: 20px;
			-webkit-box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
			   -moz-box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
			        box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
		}

}
