page-config {
	ion-content {
		background: #2b2f40 !important;
	}

	.menu {
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: center;	
		.img {
			width: 50%;
		}
	}

	ion-content {
		color: #fff !important;
	}

	ion-thumbnail {
		min-width: 100px;
		text-align: center;

		.icon-xl {

			font-size: 80px;
		}
	}

	.shadow-top {
		padding-top: 20px;
			-webkit-box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
			   -moz-box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
			        box-shadow: inset 0px 14px 17px -5px rgba(0,0,0,0.53);
		}

	.card-background-page {

		ion-card {
			position: relative;
			text-align: center;
			height: 200px;
			img{
				opacity: 0.4;
			}
		}

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #000;
		}

		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #000;
		}

	}

	.pull-right{
		float: right;
	}

	.list{
		background-color: #fff;
	}

}
